Include mime types of components in the bom

For every component, the mime-type of that component should be included. However, there's seems to be some discrepancy on the exact mime types for `.jar`, `.war`, `.ear`, etc.

For example, Wikipedia states thats that JAR and WAR both have a mime type of `application/java-archive`. 

https://en.wikipedia.org/wiki/JAR_(file_format)
https://en.wikipedia.org/wiki/WAR_(file_format)

I believe this to be inaccurate. Neither jar or war are formally registered mime types.
https://www.iana.org/assignments/media-types/media-types.xhtml

According to [section 3.4 of RFC-6838](https://www.rfc-editor.org/rfc/rfc6838.html#section-3.4), unregistered mime types need to start with `x-`. Therefore, the correct mime types for jar and war should be `application/x-java-archive`

Opening this issue to discuss as CycloneDX needs to be able to factually state accurate information.

This is the reference cited by wikipedia:

https://www.mindprod.com/jgloss/mime.html

This states that alternate for jar = `application/x-jar`
The alternate for war is blank.

I've pinged a few folks at Oracle for comment.

Received confirmation from Oracle that they have submitted a request for `application/java-archive`. The IANA ticket number is 1269313. Will update this ticket when I receive confirmation the submission was approved.

The mime-type `application/java-archive` has been registered
https://www.iana.org/assignments/media-types/application/java-archive